{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="d-flex justify-content-center">
        <div  class="content-section content-margin" >
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <div class="d-flex justify-content-between">
                        <legend class="border-bottom mb-4 font-special-elite">Add Item</legend>
                        <a class="btn-previous2" href="{% url 'main-home'%} "}><i class="fa fa-chevron-left"></i></a>
                    </div>

                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn mybtn btn-outline-info" type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}